.btn {
   font: inherit;
   cursor: pointer   ;
   padding: 0.5rem 1.3rem;
   border-radius: 9px 20px;
   margin-left: 0.8rem;
   background-color: #426c96;
   border-color: transparent;
   color: white;
}


.btn:hover,
.btn:active {
   background-color: #475665;
   cursor: pointer;
   transition: all 300ms;
}

.btn--alt {
   border: 1px solid #2159AD;
   background-color: transparent;  
   color:#2159AD; 
}

.btn--small {
   text-align: center;
   padding: 0.25rem 1rem;
   font-weight: bold;
}

.btn--alt:hover,
.btn--alt:active {
  background-color: #173e78;
  border-color: #173e78;
  color: white;
}
