.btn {
   font: inherit;
   cursor: pointer   ;
   padding: 0.25rem 2rem;
   border-radius: 8px;
   font-weight: bold;
   margin-left: 0.8rem;
   background-color: #2159AD;
   border: 1px solid #2159AD;
   color: white;
}


.btn:hover,
.btn:active {
background-color: #173e78;
border-color: #173e78;
}

.btn--alt {
   border: 1px solid #2159AD;
   background-color: transparent;  
   color:#2159AD; 
}

.btn--small {
   text-align: center;
   padding: 0.25rem 1rem;
   font-weight: bold;
}

.btn--alt:hover,
.btn--alt:active {
  background-color: #173e78;
  border-color: #173e78;
  color: white;
}